<section class="container">
  <div class="about-me">
    <h2 class="visually-hidden">About Me</h2>
    <div class="motto">
      <h3 class="motto-tittle">
        I work with people all over the world to create impressive and
        <span class="span">functional</span> <a href="">websites</a> that
        reflect each client's unique personality.
      </h3>

      <!-- <picture>
            <source
                srcset="1x.jpg 1x, .2x.jpg 2x"
                media="(min-width: 375px)" />

            <source
                srcset=""
                media="(min-width: 768px)" />

            <source
                srcset=""
                media="(min-width: 1280px)" />-->

      <img src="img/aboutme/image.png" alt="Profile Picture" />
      <!-- </picture>  -->
    </div>
    <div class="accordion">
      <div data-tab="tab-1" class="accordion-item">
        <p class="accordion-header">About me</p>
        <svg width="20" height="20" class="arrow">
          <use href=""></use>
        </svg>
      </div>
      <div id="tab-1" class="accordion-content">
        <p>
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.<br />
        </p>
        <p>
          Able to work both independently and in a team. I can effectively
          cooperate with colleagues, exchanging ideas and finding optimal
          solutions. Professional maturity allows you to calmly cope with
          challenges and stressful situations, while maintaining a high quality
          of work. I am always looking for opportunities for self-improvement. I
          actively study new technologies and practices to stay abreast of the
          latest innovations. I have a strong understanding of various
          programming languages, frameworks and architectural concepts that
          allow me to create efficient and scalable software.
        </p>
      </div>

      <div data-tab="tab-2" class="accordion-item">
        <p class="accordion-header">ROLE</p>
        <svg width="24" height="24" class="">
          <use href=""></use>
        </svg>
      </div>
      <div id="tab-2" class="accordion-content">
        <p>Frontend development</p>
        <p>Blender(enjoy)</p>
      </div>

      <div data-tab="tab-3" class="accordion-item">
        <p class="accordion-header">EDUCATION</p>
        <svg width="24" height="24" class="arrow">
          <use href=""></use>
        </svg>
      </div>
      <div id="tab-3" class="accordion-content">
        2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York<br />
        2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New
        York<br />
        2020 - 2022 / Advanced Blender Animation Techniques, Udemy
      </div>
    </div>

    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">JavaScript</li>
        <li class="swiper-slide">HTML</li>
        <li class="swiper-slide">CSS</li>
        <li class="swiper-slide">React</li>
        <li class="swiper-slide">Node.js</li>
        <li class="swiper-slide">JavaScript</li>
        <li class="swiper-slide">HTML</li>
        <li class="swiper-slide">CSS</li>
        <li class="swiper-slide">React</li>
        <li class="swiper-slide">Node.js</li>
      </ul>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
