<section id="covers">
  <div class="covers-wrapper-outer container">
    <div class="covers-container">
      <h2 class="visually-hidden">List of all projects</h2>
      <div class="covers-wrapper">
        <div class="covers-first-box">
          <ul class="covers-list">
            <li class="photo-project">
              <img
                srcset="../img/covers/project-1@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-1.jpg"
                alt="Project photo 1"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-2@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-2.jpg"
                alt="Project photo 2"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-3@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-3.jpg"
                alt="Project photo 3"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-4@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-4.jpg"
                alt="Project photo 4"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-5@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-5.jpg"
                alt="Project photo 5"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-6@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-6.jpg"
                alt="Project photo 6"
              />
            </li>
          </ul>
          <ul aria-hidden="true" class="covers-list">
            <li class="photo-project">
              <img
                srcset="../img/covers/project-1@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-1.jpg"
                alt="Project photo 1"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-2@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-2.jpg"
                alt="Project photo 2"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-3@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-3.jpg"
                alt="Project photo 3"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-4@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-4.jpg"
                alt="Project photo 4"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-5@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-5.jpg"
                alt="Project photo 5"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-6@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-6.jpg"
                alt="Project photo 6"
              />
            </li>
          </ul>
        </div>
        <div class="covers-second-box">
          <ul class="covers-list">
            <li class="photo-project">
              <img
                srcset="../img/covers/project-1@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-1.jpg"
                alt="Project photo 1"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-2@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-2.jpg"
                alt="Project photo 2"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-3@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-3.jpg"
                alt="Project photo 3"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-4@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-4.jpg"
                alt="Project photo 4"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-5@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-5.jpg"
                alt="Project photo 5"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-6@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-6.jpg"
                alt="Project photo 6"
              />
            </li>
          </ul>
          <ul aria-hidden="true" class="covers-list">
            <li class="photo-project">
              <img
                srcset="../img/covers/project-1@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-1.jpg"
                alt="Project photo 1"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-2@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-2.jpg"
                alt="Project photo 2"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-3@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-3.jpg"
                alt="Project photo 3"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-4@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-4.jpg"
                alt="Project photo 4"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-5@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-5.jpg"
                alt="Project photo 5"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-6@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-6.jpg"
                alt="Project photo 6"
              />
            </li>
          </ul>
        </div>
        <div class="covers-third-box">
          <ul class="covers-list">
            <li class="photo-project">
              <img
                srcset="../img/covers/project-1@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-1.jpg"
                alt="Project photo 1"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-2@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-2.jpg"
                alt="Project photo 2"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-3@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-3.jpg"
                alt="Project photo 3"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-4@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-4.jpg"
                alt="Project photo 4"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-5@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-5.jpg"
                alt="Project photo 5"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-6@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-6.jpg"
                alt="Project photo 6"
              />
            </li>
          </ul>
          <ul aria-hidden="true" class="covers-list">
            <li class="photo-project">
              <img
                srcset="../img/covers/project-1@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-1.jpg"
                alt="Project photo 1"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-2@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-2.jpg"
                alt="Project photo 2"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-3@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-3.jpg"
                alt="Project photo 3"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-4@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-4.jpg"
                alt="Project photo 4"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-5@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-5.jpg"
                alt="Project photo 5"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-6@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-6.jpg"
                alt="Project photo 6"
              />
            </li>
          </ul>
        </div>
        <div class="covers-fourth-box">
          <ul class="covers-list">
            <li class="photo-project">
              <img
                srcset="../img/covers/project-1@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-1.jpg"
                alt="Project photo 1"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-2@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-2.jpg"
                alt="Project photo 2"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-3@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-3.jpg"
                alt="Project photo 3"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-4@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-4.jpg"
                alt="Project photo 4"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-5@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-5.jpg"
                alt="Project photo 5"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-6@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-6.jpg"
                alt="Project photo 6"
              />
            </li>
          </ul>
          <ul aria-hidden="true" class="covers-list">
            <li class="photo-project">
              <img
                srcset="../img/covers/project-1@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-1.jpg"
                alt="Project photo 1"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-2@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-2.jpg"
                alt="Project photo 2"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-3@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-3.jpg"
                alt="Project photo 3"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-4@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-4.jpg"
                alt="Project photo 4"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-5@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-5.jpg"
                alt="Project photo 5"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-6@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-6.jpg"
                alt="Project photo 6"
              />
            </li>
          </ul>
        </div>
        <div class="covers-fifth-box">
          <ul class="covers-list">
            <li class="photo-project">
              <img
                srcset="../img/covers/project-1@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-1.jpg"
                alt="Project photo 1"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-2@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-2.jpg"
                alt="Project photo 2"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-3@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-3.jpg"
                alt="Project photo 3"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-4@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-4.jpg"
                alt="Project photo 4"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-5@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-5.jpg"
                alt="Project photo 5"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-6@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-6.jpg"
                alt="Project photo 6"
              />
            </li>
          </ul>
          <ul aria-hidden="true" class="covers-list">
            <li class="photo-project">
              <img
                srcset="../img/covers/project-1@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-1.jpg"
                alt="Project photo 1"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-2@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-2.jpg"
                alt="Project photo 2"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-3@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-3.jpg"
                alt="Project photo 3"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-4@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-4.jpg"
                alt="Project photo 4"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-5@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-5.jpg"
                alt="Project photo 5"
              />
            </li>
            <li class="photo-project">
              <img
                srcset="../img/covers/project-6@2x.jpg 2x"
                class="img-project"
                src="../img/covers/project-6.jpg"
                alt="Project photo 6"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
