<section id="covers">
  <div class="covers-wrapper-outer">
    <div class="covers-transform-wrapper container">
      <div class="covers-container">
        <h2 class="visually-hidden">List of all projects</h2>
        <div class="covers-wrapper">
          <div class="covers-first-box">
            <div class="covers-list-wrapper">
              <ul class="covers-list">
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-4@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-4.jpg"
                    alt="Project photo 4"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-8@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-8.jpg"
                    alt="Project photo 8"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-10@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-10.jpg"
                    alt="Project photo 10"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-4@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-4.jpg"
                    alt="Project photo 4"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-8@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-8.jpg"
                    alt="Project photo 8"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-10@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-10.jpg"
                    alt="Project photo 10"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="covers-second-box">
            <div class="covers-list-wrapper">
              <ul class="covers-list">
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-6@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-6.jpg"
                    alt="Project photo 6"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-5@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-5.jpg"
                    alt="Project photo 5"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-2@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-2.jpg"
                    alt="Project photo 2"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-6@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-6.jpg"
                    alt="Project photo 6"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-5@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-5.jpg"
                    alt="Project photo 5"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-2@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-2.jpg"
                    alt="Project photo 2"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="covers-third-box">
            <div class="covers-list-wrapper">
              <ul class="covers-list">
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-1@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-1.jpg"
                    alt="Project photo 1"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-7@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-7.jpg"
                    alt="Project photo 7"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-9@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-9.jpg"
                    alt="Project photo 9"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-1@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-1.jpg"
                    alt="Project photo 1"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-7@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-7.jpg"
                    alt="Project photo 7"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-9@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-9.jpg"
                    alt="Project photo 9"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="covers-fourth-box">
            <div class="covers-list-wrapper">
              <ul class="covers-list">
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-8@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-8.jpg"
                    alt="Project photo 8"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-3@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-3.jpg"
                    alt="Project photo 3"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-4@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-4.jpg"
                    alt="Project photo 4"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-8@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-8.jpg"
                    alt="Project photo 8"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-3@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-3.jpg"
                    alt="Project photo 3"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-4@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-4.jpg"
                    alt="Project photo 4"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="covers-fifth-box">
            <div class="covers-list-wrapper">
              <ul class="covers-list">
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-10@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-10.jpg"
                    alt="Project photo 10"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-2@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-2.jpg"
                    alt="Project photo 2"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-6@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-6.jpg"
                    alt="Project photo 6"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-10@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-10.jpg"
                    alt="Project photo 10"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-2@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-2.jpg"
                    alt="Project photo 2"
                  />
                </li>
                <li class="photo-project">
                  <img
                    srcset="img/covers/project-6@2x.jpg 2x"
                    class="img-project"
                    src="img/covers/project-6.jpg"
                    alt="Project photo 6"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
