<header class="header" id="header">
  <div class="header-wrapper container">
    <nav class="logo-nav">
      <a href="./index.html" class="logo">
        <picture>
          <source srcset="/img/logo/logo3x.webp" media="(min-width: 768px)">
          <img src="/img/logo/logobig2x.webp" alt="Lloyd Jefferson" class="responsive-img" loading="lazy" width="40"
            height="40">
        </picture>
        <p class="logo-text">jefferson*</p>
      </a>
    </nav>
    <div class="navigation">
      <span class="menu">Menu</span>
      <nav class="navi">
        <ul class="nav-wrapper">
          <li class="nav-item">
            <a class="nav-link" href="#aboutme">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="open-menu-btn" type="button" aria-label="Open menu button" aria-controls="mobile-menu">
      <svg class="burger-menu" width="28" height="28">
        <use href="/img/sprite.svg#icon-mobile-menu"></use>
      </svg>
    </button>
    <a class="order-link" href="#work"> Order the project </a>
  </div>
</header>

<!--modal window-->
<div class="backdrop" id="mobile-menu">
  <div class="modal">
    <button class="modal-close-btn" type="button" aria-label="Modal close button">
      <svg class="icon-close" width="28" height="28">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="navi-modal">
      <ul class="navi-modal-wrapper">
        <li class="nav-item">
          <a class="navi-modal-link" href="#aboutme" aria-label="go to aboutme section">About me</a>
        </li>
        <li class="nav-item">
          <a class="navi-modal-link" href="#benefits" aria-label="go to benefits section">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="navi-modal-link" href="#projects" aria-label="go to project section">Projects</a>
        </li>
        <li class="nav-item">
          <a class="navi-modal-link" href="#faq" aria-label="go to faq section">FAQ</a>
        </li>
      </ul>
      <!-- Order button in modal -->
      <a class="modal-order-link" href="#work">Order the project</a>
    </nav>
  </div>
</div>