<section class="hero">
  <div class="container">
    <h1 class="hero-title" id="typed-text"></h1>
    <div class="wrapper">
      <ul class="hero-list">
        <li class="hero-item">
          <a
            class="hero-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >IG</a
          >
        </li>
        <li class="hero-item">
          <a
            class="hero-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >FB</a
          >
        </li>
        <li class="hero-item">
          <a
            class="hero-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >YT</a
          >
        </li>
        <li class="hero-item">
          <a
            class="hero-link"
            href="https://github.com/RITAS2000/js-project-dcgroup"
            target="_blank"
            >GH</a
          >
        </li>
      </ul>
      <a
        type="mail"
        class="hero-link mail"
        href="mailto:lloydjefferson@gmail.com"
        target="_blank"
        >lloydjefferson@gmail.com</a
      >
    </div>
  </div>
</section>
