<section id="projects" class="projects">
  <div class="container projects-container">
    <p class="projects-title">Projects</p>

    <div class="projects-swiper swiper">
      <ul class="projects-swiper-wrapper swiper-wrapper">
        <!-- Слайд 1 -->
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-wrap">
            <div class="projects-materials">
              <ul class="tags">
                <li class="item">#react</li>
                <li class="item">#js</li>
                <li class="item">#node js</li>
                <li class="item">#git</li>
              </ul>
              <h3 class="projects-name">
                Programming Across<br />Borders: Ideas,<br />Technologies,
                Innovations
              </h3>
              <a
                href="https://github.com/RITAS2000/js-project-dcgroup"
                target="_blank"
                class="projects-button"
                rel="noopener noreferrer"
                >See project</a
              >
            </div>

            <div class="dark-transition">
              <picture>
                <source
                  srcset="
                    img/projects/photo1-tablet@1x.jpg 1x,
                    img/projects/photo1-tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    img/projects/photo1@1x.jpg 1x,
                    img/projects/photo1@2x.jpg 2x
                  "
                />
                <img
                  class="projects-image"
                  src="img/projects/photo1@1x.jpg"
                  alt="Project 1 preview"
                />
              </picture>
            </div>
          </div>
        </li>

        <!-- Слайд 2 -->
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-wrap">
            <div class="projects-materials">
              <ul class="tags">
                <li class="item">#react</li>
                <li class="item">#js</li>
                <li class="item">#node js</li>
                <li class="item">#git</li>
              </ul>
              <h3 class="projects-name">
                Programming Across<br />Borders: Ideas,<br />Technologies,
                Innovations
              </h3>
              <a
                href="https://github.com/RITAS2000/js-project-dcgroup"
                target="_blank"
                class="projects-button"
                rel="noopener noreferrer"
                >See project</a
              >
            </div>
            <div class="dark-transition">
              <picture>
                <source
                  srcset="
                    img/projects/photo2-tablet@1x.jpg 1x,
                    img/projects/photo2-tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    img/projects/photo2@1x.jpg 1x,
                    img/projects/photo2@2x.jpg 2x
                  "
                />
                <img
                  class="projects-image"
                  src="img/projects/photo2@1x.jpg"
                  alt="Project 2 preview"
                />
              </picture>
            </div>
          </div>
        </li>

        <!-- Слайд 3 -->
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-wrap">
            <div class="projects-materials">
              <ul class="tags">
                <li class="item">#react</li>
                <li class="item">#js</li>
                <li class="item">#node js</li>
                <li class="item">#git</li>
              </ul>
              <h3 class="projects-name">
                Programming Across<br />Borders: Ideas,<br />Technologies,
                Innovations
              </h3>
              <a
                href="https://github.com/RITAS2000/js-project-dcgroup"
                target="_blank"
                class="projects-button"
                rel="noopener noreferrer"
                >See project</a
              >
            </div>
            <div class="dark-transition">
              <picture>
                <source
                  srcset="
                    img/projects/photo3-tablet@1x.jpg 1x,
                    img/projects/photo3-tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    img/projects/photo3@1x.jpg 1x,
                    img/projects/photo3@2x.jpg 2x
                  "
                />
                <img
                  class="projects-image"
                  src="img/projects/photo3@1x.jpg"
                  alt="Project 3 preview"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>

      <!-- Стрілки -->
      <div class="arrow-icons">
        <div class="icon-wrapper left" aria-label="Previous slide" tabindex="0">
          <svg class="icon icon-left">
            <use href="img/sprite.svg#icon-arrow-left-reviews"></use>
          </svg>
        </div>
        <div class="icon-wrapper right" aria-label="Next slide" tabindex="0">
          <svg class="icon icon-right">
            <use href="img/sprite.svg#icon-arrow-right-reviews"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
