<!-- Section Reviews -->

<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper">
      <ul class="swiper-wrapper" id="reviews-list">
        <!-- Відгуки будуть додаватися динамічно -->
        <!-- <li class="swiper-slide">
          <div class="review-card">
            <img
              class="review-avatar"
              src="https://ftp.goit.study/img/avatars/4.jpg"
              alt="Natalia photo"
            />
            <h3 class="avatar-name">Natalia</h3>
            <p class="review-item">
              Work with was extraordinary! He turned out to be a very competent
              and responsible specialist. The projects were completed on time
              and the result exceeded my expectations
            </p>
          </div>
        </li> -->
      </ul>
      <!-- Кнопки навігації -->
      <div class="buttons-wrapper">
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Previous review"
        >
          <svg width="24" height="24" class="swiper-button-icon">
            <use href="../img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Next review"
        >
          <svg width="24" height="24" class="swiper-button-icon">
            <use href="../img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
