.visually-hidden-aboutMe {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* .moto-wrapper {
  display: flex;
} */

.motto {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-top: 32px;
  margin-bottom: 32px;
}
.motto img {
  width: 100%;
  height: auto;
  display: block;
}

.motto-tittle {
  font-family: 'Inter Tight', sans-serif;
  text-transform: uppercase;
  font-size: medium;
  height: 704px;
}
.span {
  color: #ed3b44;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.wrap-item {
  /* display: flex;
  flex-direction: column; */
  border: 1px solid #ddd;
  border-top: none;
  border-left: none;
  border-right: none;
}

.wrap-item:first-child {
  border-top: none;
}

.item-heder {
  display: flex;
  position: relative;
  background-color: transparent;
  transition: transform 0.5s ease-out;
  flex-grow: 0;
  justify-content: space-between;
  height: 40px;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Inter Tight', sans-serif;
}

.icon-wrapper {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  background: #1c1d20;
  display: flex;
  text-align: center;
  transition: border-color 0.3s ease;
}

.icon-wrapper .about-me-arrow {
  display: inline-flex;
  position: relative;
  background-color: transparent;
  transform-origin: center;
  transition: transform 0.3s ease;
}

/* Коли картка активна — обертаємо стрілку */
.wrap-item.is-active .about-me-arrow {
  transform: rotate(180deg);
}

.wrap-item.js-enabled .about-cart {
  visibility: hidden;
}

.wrap-item.is-active .about-cart {
  visibility: visible;
}

.about-cart {
  font-family: 'Inter Tight', sans-serif;
  overflow: hidden;
}

.about-text:first-child {
  overflow: visible;
}

.about-text {
  transition: max-height 0.6s ease;
  border-top: none;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 43px;
  overflow: hidden;
  position: relative;
  padding-top: 32px;
}

@media screen and (min-width: 768px) {
  .about-section {
    padding-top: 64px;
    gap: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .about-section {
    padding: 96px 32px 0 32px;
    gap: 72px;
  }
}

.circles-wrapper {
  flex: 1 1 auto;
  overflow: hidden;
}

.circles-wrapper .swiper-slide {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  flex-shrink: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .circles-wrapper .swiper-slide {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
}

.circles-wrapper .swiper-slide.highlighted-slide {
  background-color: #ed3b44;
  border: none;
  color: #fafafa;
}

/*.circles-wrapper .swiper-slide:hover,
.circles-wrapper .swiper-slide:focus {
  background-color: #ed3b44;
  border: none;
  color: #fafafa;
}
  */

.arrow-wrapper {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.arrow-wrapper:hover,
.arrow-wrapper:focus {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.about-swip-arrow-next {
  cursor: pointer;
}

.about-icon-right {
  width: 28px;
  height: 28px;
  filter: brightness(5) saturate(0) opacity(0.2);
}

@media only screen and (min-width: 768px) {
  .about-icon-right {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .motto {
    max-height: 1416px;
    max-width: 704px;
    /* margin: 0 auto; */
    justify-content: space-between;
    flex-grow: 1;
  }
  .motto-tittle {
    padding: 60px 62px;
    text-align: center;
    font-size: Medium;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .motto {
    flex-direction: row;
    max-width: 1416px;
    justify-content: space-between;
    flex-grow: 1;
  }
}
.wrap-item {
  flex-direction: row;
}
