.container {
  background: #1c1d20;
  font-family: 'Inter Tight', sans-serif;
  margin: 0 auto;
}
.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.faq-list {
  width: 100%;
}
.faq-item {
  padding: 20px 0;
}
@media only screen and (min-width: 768px) {
  .faq-item {
    padding: 32px 0;
  }
}
.faq-list .faq-item .faq-item-header {
  display: flex;
  justify-content: space-between;
}
div.faq-item-header h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
div.faq-item-header .faq-toggle {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  background: #1c1d20;
  display: flex;
  text-align: center;
  transition: transform 0.3s ease, border-color 0.3s ease;
}
@media only screen and (min-width: 768px) {
  div.faq-item-header .faq-toggle {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}
.faq-toggle-img {
  transition: transform 0.3s ease;
}

div.faq-item-header .faq-toggle:hover {
  transform: scale(1.02);
  border-color: rgba(250, 250, 250, 0.6);
}

.faq-item-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.ac .ac-trigger::after {
  display: none;
}

.accordion-container .ac {
  --color-white: transparent;
  --color-light-grey: transparent;
  --color-grey: transparent;
  --color-black: transparent;
  margin-bottom: 0;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
}
.is-active .faq-toggle-img {
  transform: rotate(180deg);
}
.is-active .faq-item-content {
  margin-top: 16px;
}
@media only screen and (min-width: 768px) {
  .is-active .faq-item-content {
    margin-top: 26px;
  }
}
