.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.faq-list {
  width: 100%;
  margin: 0 auto;
}
.faq-item {
  padding: 20px 0;
}
@media only screen and (min-width: 768px) {
  .faq-item {
    padding: 32px 0;
  }
}
@media only screen and (min-width: 1440px) {
  .faq-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .faq-item {
    width: calc(100% / 2);
  }
  .faq-list li:nth-child(1) {
    order: 1;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }
  .faq-list li:nth-child(2) {
    order: 3;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }
  .faq-list li:nth-child(3) {
    order: 5;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }
  .faq-list li:nth-child(4) {
    order: 2;
    padding-left: 32px;
  }
  .faq-list li:nth-child(5) {
    order: 4;
    padding-left: 32px;
  }
  .faq-list li:nth-child(6) {
    order: 6;
    padding-left: 32px;
  }
}
.faq-list .faq-item .faq-item-header {
  display: flex;
  justify-content: space-between;
}
div.faq-item-header h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  .faq-list li:last-child h3 {
    width: 485px;
  }
}

div.faq-item-header .faq-toggle {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  background: #1c1d20;
  display: flex;
  text-align: center;
  transition: border-color 0.3s ease;
}
@media only screen and (min-width: 768px) {
  div.faq-item-header .faq-toggle {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}
.faq-toggle .faq-toggle-img {
  transition: transform 0.3s ease;
}
.faq-toggle:hover .faq-toggle-img {
  transform: scale(1.2);
}

div.faq-item-header .faq-toggle:hover {
  border-color: rgba(250, 250, 250, 0.6);
}

.faq-item-content {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.6);
}
@media only screen and (min-width: 768px) {
  .faq-item-content {
    width: 656px;
  }
  .is-active .faq-item-content {
    margin-top: 26px;
  }
}
.ac .ac-trigger::after {
  display: none;
}

.accordion-container .ac {
  --color-white: transparent;
  --color-light-grey: transparent;
  --color-grey: transparent;
  --color-black: transparent;
  margin-bottom: 0;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
}
.is-active .faq-toggle-img {
  transform: rotate(180deg);
}
.is-active .faq-item-content {
  margin-top: 16px;
}
