.work-section {
  margin: 0 auto;
  max-width: 375px;
  background-color: #1c1d20;
  padding: 32px 0;
  background-image: url('/img/work/mobil2x.png');
  background-position: right center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

@media (min-width: 1440px) {
    .work-section .container {
        padding-left: 197px;
    }
}
@media (min-width: 768px) {
  .work-section {
    max-width: 768px;
    background-image: url('/img/work/tablet2x.png');
  }
}


@media (min-width: 1440px) {
  .work-section {
    max-width: 1440px;
    background-image: url('/img/work/decktop2x.png');
  }
}
@media (min-width: 768px) {
  .work-section {
    padding: 80px 0;
  }
}
.responsive-img {
  user-select: none;
  width: 40px;
}

@media (min-width: 768px) {
  .responsive-img {
    width: 80px;
  }
}
.work-logo-text-container {
  display: flex;
  gap: 8px;
  margin-bottom: 63px;
}
@media (min-width: 768px) {
  .work-logo-text-container {
    gap: 20px;
    margin-bottom: 64px;
  }
}

.work-text-style {
  text-transform: uppercase;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #fafafa;
}
@media (min-width: 768px) {
  .work-text-style {
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #fafafa;
  }
}

.work-red-text {
    animation: pulse 1s infinite alternate;
  color: #ed3b44;
}
.work-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

@media (min-width: 768px) {
  .work-form {
    flex-direction: row;
    margin-bottom: 18px;
  }
}

.work-address {
  display: flex;
  gap: 4px;
}
@media (min-width: 768px) {
    .work-address {
        gap: 8px;
    }
}

@media (max-width: 374px) {
  .work-address {
    flex-direction: column;
  }
  .work-email {
    width:182px;
  }
  .work-tel{
    width: 142px;
  }
}
.work-address-style {
  font-style: normal;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding: 10px 12px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  transition: transform 0.3s ease, border 0.3s ease;
  white-space: nowrap;
}
@media (min-width: 768px) {
    .work-address-style {
        padding: 18px 32px;
    }
}
.work-address-style:hover {
  transform: scale(1.02);
  border: 1px solid #fafafa;
}
.work-address-style:focus {
  transform: scale(1.02);
  border: 1px solid #fafafa;
}
.work-address-style:active {
  border: 1px solid #fafafa;
}
.work-input {
  position: relative;
  height: 44px;
  background: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  outline: none;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-overflow: ellipsis;
  padding-bottom: 26px;
}
.work-position-sucsses {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .work-input {
    margin-top: 46px;
    width: 245px;
    margin-right: 32px;
  }
}
@media (min-width: 1440px) {
  .work-input {
    width: 390px;
  }
}
.work-input::placeholder {
  position: absolute;
  top: 8px;
  left: 0;
  transform: translate(0, -50%);
  color: rgba(250, 250, 250, 0.6);
}

.js-input-message {
  position: absolute;
  margin-top: 44px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  visibility: hidden;
}
@media (min-width: 768px) {
    .js-input-message {
        margin-top: 90px;
    }
}
.success {
  color: #3cbc81;
}

.error {
  color: #e74a3b;
}
.work-input:not(:placeholder-shown):valid {
  border-bottom: 1px solid #3cbc81;
}
.work-input:not(:placeholder-shown):invalid {
  border-bottom: 1px solid #e74a3b;
}
.input-gap-top {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .input-gap-top {
    margin-top: 46px;
  }
}
.input-gap-second {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .input-gap-second {
    margin-bottom: 22px;
  }
}
.work-button {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #ed3b44;
  border: none;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}
@media (min-width: 768px) {
  .work-button {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 1440px) {
  .work-button {
    margin-left: 86px;
  }
}
.work-button:hover {
  background: #e0373f;
  transform: scale(1.02);
  box-shadow: 0 0 12px #f5f5f5;
}

.work-button:focus {
  background: #e0373f;
  transform: scale(1.02);
}
.work-button:active {
  background: #e0373f;
}
.work-modal-sucssec {
  position: relative;
  width: 343px;
  height: 276px;
  background: #1c1d20;
  border-radius: 20px;
  padding: 64px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
    .work-modal-sucssec{
        width: 492px;
        height: 246px;
        padding: 64px 64px;
    }
}
.basicLightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 16, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.work-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
.work-modal-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 1);
  margin-bottom: 16px;
}

@media (min-width: 768px) {
.work-modal-title {
        white-space: nowrap;
    }
}

.work-modal-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}
.work-modal-span-erorr {
  color: darkorange;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.02em;
}



@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0.5;
        transform: scale(1.1);
    }
}
.work-icon{
  width: 22px;
  height: 22px;
  stroke: #fbfbfb;
}

@media (min-width: 768px) {
  .work-icon {
    width: 24px;
    height: 24px;
  }
}